 
<!-- views/partials/sidebar.ejs -->
<div class="sidebar-container">
    <div class="sidebar-background"></div>
    <nav class="sidebar">
        <div class="sidebar-content">
            <!-- エンブレム/ロゴ -->
            <div class="logo-item">
                <img src="/images/Logo.png" alt="Boundless FC" class="logo">
            </div>
    
            <!-- メニュー項目 -->
            <div class="menu-item">
                <div class="icon-box">
                  <a href="/">
                    <i class="bi bi-house"></i>
                  </a>
                </div>
                <span class="menu-text"><a href="/">HOME</a></span>
            </div>
              
            <div class="menu-item">
                <div class="icon-box">
                  <a href="#news">
                    <i class="bi bi-collection-fill"></i>
                  </a>
                </div>
                <span class="menu-text"><a href="#news">BLOG</a></span>
            </div>
              
            <div class="menu-item">
                <div class="icon-box">
                  <a href="#events">
                    <i class="bi bi-calendar-event"></i>
                  </a>
                </div>
                <span class="menu-text"><a href="#events">UPCOMING EVENTS</a></span>
            </div>
              
            <div class="menu-item">
                <div class="icon-box">
                  <a href="#aboutus">
                    <i class="bi bi-people"></i>
                  </a>
                </div>
                <span class="menu-text"><a href="#aboutus">ABOUT US</a></span>
            </div>
        </div>
    </nav>
</div>

