<div class="social-menu">
    <!-- Instagramリンク -->
    <a href="https://www.instagram.com/boundless_fc/?locale=en_US%2Cen_GB" class="social-icon" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-instagram"></i>
    </a>
    <!-- WhatsAppリンク -->
    <a href="/" class="social-icon" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-whatsapp"></i>
    </a>
    <!-- YouTubeリンク -->
    <a href="/" class="social-icon" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-youtube"></i>
    </a>
</div>